In [5]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\k\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\k\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\k\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\k\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\k\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\k\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\k\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\k\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [232]:
import numpy as np
import pandas as pd

In [180]:
df = pd.read_excel("uber updated (Recovered).xlsx")

In [181]:
df.shape

(150000, 21)

In [246]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking_ID                         150000 non-null  object
 3   Booking_Status                     150000 non-null  object
 4   Customer_ID                        150000 non-null  object
 5   Vehicle_Type                       150000 non-null  object
 6   Pickup_Location                    150000 non-null  object
 7   Drop_Location                      150000 non-null  object
 8   Avg_VTAT                           150000 non-null  object
 9   Avg_CTAT                           102000 non-null  float64
 10  Cancelled_Rides_by_Customer        150000 non-null  object
 11  Reason_for_cancelling_by_Customer  150000 non-null  category
 12  Cancelled_Rides_by_Driver          150000 non-null  object
 13  Driver_Cancellation_Reason         150000 non-null  object
 14  Incomplete_Rides                   150000 non-null  object
 15  Incomplete_Rides_Reason            150000 non-null  object
 16  Booking_Value                      150000 non-null  object
 17  Ride_Distance                      150000 non-null  object
 18  Driver_Ratings                     150000 non-null  object
 19  Customer_Rating                    150000 non-null  object
 20  Payment_Method                     150000 non-null  object
dtypes: category(1), float64(1), object(19)
memory usage: 23.0+ MB
None

In [190]:
counts = df['Payment_Method'].value_counts()
print(counts)

Payment_Method
Unknown        47999
UPI            45910
Cash           25367
Uber Wallet    12276
Credit Card    10209
Debit Card      8239
Name: count, dtype: int64

In [192]:
df['Payment_Method'] = df['Payment_Method'].replace('No', 'Unknown')

In [194]:
counts = df['Incomplete_Rides_Reason'].value_counts()
print(counts)

Incomplete_Rides_Reason
No                   141000
Customer Demand        3040
Vehicle Breakdown      3012
Other Issue            2948
Name: count, dtype: int64

In [196]:
df['Incomplete_Rides_Reason'] = df['Incomplete_Rides_Reason'].replace('No', 'No Reason')

In [198]:
counts = df['Incomplete_Rides_Reason'].value_counts()
print(counts)

Incomplete_Rides_Reason
No Reason            141000
Customer Demand        3040
Vehicle Breakdown      3012
Other Issue            2948
Name: count, dtype: int64

In [200]:
counts = df['Incomplete_Rides'].value_counts()
print(counts)

Incomplete_Rides
No    141000
1       9000
Name: count, dtype: int64

In [202]:
df['Incomplete_Rides'] = df['Incomplete_Rides'].replace('No', 'False')
df['Incomplete_Rides'] = df['Incomplete_Rides'].replace(1, 'True')

In [204]:
counts = df['Incomplete_Rides'].value_counts()
print(counts)

Incomplete_Rides
False    141000
True       9000
Name: count, dtype: int64

In [206]:
df['Driver_Cancellation_Reason'].value_counts()

Driver_Cancellation_Reason
No                                     123000
Customer related issue                   6837
The customer was coughing/sick           6751
Personal & Car related issues            6726
More than permitted people in there      6686
Name: count, dtype: int64

In [208]:
df['Driver_Cancellation_Reason'] = df['Driver_Cancellation_Reason'].replace('No','No Reason')

In [210]:
df['Driver_Cancellation_Reason'].value_counts()

Driver_Cancellation_Reason
No Reason                              123000
Customer related issue                   6837
The customer was coughing/sick           6751
Personal & Car related issues            6726
More than permitted people in there      6686
Name: count, dtype: int64

In [220]:
counts= df['Cancelled_Rides_by_Driver'].value_counts()
print(counts)

Cancelled_Rides_by_Driver
False    123000
True      27000
Name: count, dtype: int64

In [218]:
df['Cancelled_Rides_by_Driver'] = df['Cancelled_Rides_by_Driver'].replace('No', 'False')
df['Cancelled_Rides_by_Driver'] = df['Cancelled_Rides_by_Driver'].replace(1, 'True')

In [222]:
counts = df['Reason_for_cancelling_by_Customer'].value_counts()
print(counts)

Reason_for_cancelling_by_Customer
No                                              139500
Wrong Address                                     2362
Change of plans                                   2353
Driver is not moving towards pickup location      2335
Driver asked to cancel                            2295
AC is not working                                 1155
Name: count, dtype: int64

In [224]:
df['Reason_for_cancelling_by_Customer'] = df['Reason_for_cancelling_by_Customer'].replace('No','Others')

In [238]:
df['Reason_for_cancelling_by_Customer'] = df['Reason_for_cancelling_by_Customer'].astype('category')

In [244]:
counts = df['Reason_for_cancelling_by_Customer'].value_counts()
print(counts)

Reason_for_cancelling_by_Customer
Others                                          139500
Wrong Address                                     2362
Change of plans                                   2353
Driver is not moving towards pickup location      2335
Driver asked to cancel                            2295
AC is not working                                 1155
Name: count, dtype: int64

In [236]:
counts = df['Avg_CTAT'].value_counts()
print(counts)

Avg_CTAT
24.8    401
25.9    389
28.1    388
20.5    386
25.3    383
       ...
11.1     34
11.6     34
14.5     32
13.8     27
10.0     23
Name: count, Length: 351, dtype: int64

In [234]:
df['Avg_CTAT'] = df['Avg_CTAT'].replace("No", np.nan).astype(float)

C:\Users\k\AppData\Local\Temp\ipykernel_4672\1398792346.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Avg_CTAT'] = df['Avg_CTAT'].replace("No", np.nan).astype(float)

In [248]:
counts = df['Avg_VTAT'].value_counts()
print(counts)

Avg_VTAT
No      10500
9.4      1259
6        1249
5.8      1248
9.5      1246
        ...
19.1       59
19.5       57
18.5       56
18.9       55
20         38
Name: count, Length: 182, dtype: int64

In [250]:
df['Avg_VTAT'] = df['Avg_CTAT'].replace("No", np.nan).astype(float)

In [252]:
counts = df['Drop_Location'].value_counts()
print(counts)

Drop_Location
Ashram              936
Basai Dhankot       917
Lok Kalyan Marg     916
Narsinghpur         913
Cyber Hub           912
                   ...
MG Road             799
Bhiwadi             792
Shivaji Park        786
Anand Vihar ISBT    784
Huda City Centre    774
Name: count, Length: 176, dtype: int64

In [254]:
counts = df['Pickup_Location'].value_counts()
print(counts)

Pickup_Location
Khandsa             949
Barakhamba Road     946
Saket               931
Badarpur            921
Pragati Maidan      920
                   ...
Mandi House         800
Noida Sector 18     799
Laxmi Nagar         797
Ashok Vihar         796
Ghitorni Village    790
Name: count, Length: 176, dtype: int64

In [256]:
counts = df['Vehicle_Type'].value_counts()
print(counts)

Vehicle_Type
Auto             37419
Go Mini          29806
Go Sedan         27141
Bike             22517
Premier Sedan    18111
eBike            10557
Uber XL           4449
Name: count, dtype: int64

In [264]:

for col in df.columns:
    df[col] = df[col].apply(lambda x: x.strip() if isinstance(x, str) else x)

In [266]:
print(df.head(10))  # pehli 10 rows

         Date      Time    Booking_ID   Booking_Status   Customer_ID  \
0  2024-03-23  12:29:38  "CNR5884300"  No Driver Found  "CID1982111"
1  2024-11-29  18:01:39  "CNR1326809"       Incomplete  "CID4604802"
2  2024-08-23  08:56:10  "CNR8494506"        Completed  "CID9202816"
3  2024-10-21  17:17:25  "CNR8906825"        Completed  "CID2610914"
4  2024-09-16  22:08:00  "CNR1950162"        Completed  "CID9933542"
5  2024-02-06  09:44:56  "CNR4096693"        Completed  "CID4670564"
6  2024-06-17  15:45:58  "CNR2002539"        Completed  "CID6800553"
7  2024-03-19  17:37:37  "CNR6568000"        Completed  "CID8610436"
8  2024-09-14  12:49:09  "CNR4510807"  No Driver Found  "CID7873618"
9  2024-12-16  19:06:48  "CNR7721892"       Incomplete  "CID5214275"

    Vehicle_Type      Pickup_Location      Drop_Location  Avg_VTAT  Avg_CTAT  \
0          eBike          Palam Vihar            Jhilmil       NaN       NaN
1       Go Sedan        Shastri Nagar  Gurgaon Sector 56      14.0      14.0
2           Auto              Khandsa      Malviya Nagar      25.8      25.8
3  Premier Sedan  Central Secretariat           Inderlok      28.5      28.5
4           Bike     Ghitorni Village        Khan Market      19.6      19.6
5           Auto                AIIMS        Narsinghpur      18.1      18.1
6        Go Mini             Vaishali       Punjabi Bagh      20.4      20.4
7           Auto          Mayur Vihar          Cyber Hub      16.5      16.5
8       Go Sedan      Noida Sector 62    Noida Sector 18       NaN       NaN
9           Auto               Rohini       Adarsh Nagar      26.0      26.0

   ... Reason_for_cancelling_by_Customer Cancelled_Rides_by_Driver  \
0  ...                            Others                     False
1  ...                            Others                     False
2  ...                            Others                     False
3  ...                            Others                     False
4  ...                            Others                     False
5  ...                            Others                     False
6  ...                            Others                     False
7  ...                            Others                     False
8  ...                            Others                     False
9  ...                            Others                     False

  Driver_Cancellation_Reason Incomplete_Rides Incomplete_Rides_Reason  \
0                  No Reason            False               No Reason
1                  No Reason             True       Vehicle Breakdown
2                  No Reason            False               No Reason
3                  No Reason            False               No Reason
4                  No Reason            False               No Reason
5                  No Reason            False               No Reason
6                  No Reason            False               No Reason
7                  No Reason            False               No Reason
8                  No Reason            False               No Reason
9                  No Reason             True             Other Issue

  Booking_Value Ride_Distance Driver_Ratings Customer_Rating Payment_Method
0            No            No             No              No            UPI
1           237          5.73             No              No            UPI
2           627         13.58            4.9             4.9     Debit Card
3           416         34.02            4.6               5            UPI
4           737         48.21            4.1             4.3            UPI
5           316          4.85            4.1             4.6            UPI
6           640         41.24              4             4.1            UPI
7           136          6.56            4.4             4.2            UPI
8            No            No             No              No        Unknown
9           135         10.36             No              No           Cash

[10 rows x 21 columns]

In [268]:
df.to_excel("uber_Excel_cleaned.xlsx", index=False)